{:the-fool
 {:media
  {:src "https://upload.wikimedia.org/wikipedia/commons/9/90/RWS_Tarot_00_Fool.jpg"
   :description
   ""}}
 :the-two-of-swords
 {:media
  {:src "https://upload.wikimedia.org/wikipedia/commons/9/9e/Swords02.jpg"
   :description
   ""}}
 :the-two-of-wands
 {:media
  {:src "https://upload.wikimedia.org/wikipedia/commons/0/0f/Wands02.jpg"
   :description
   ""}}
 :the-two-of-cups
 {:media
  {:src "https://upload.wikimedia.org/wikipedia/commons/f/f8/Cups02.jpg"
   :description
   ""}}
 :the-two-of-pentacles
 {:media
  {:src "https://upload.wikimedia.org/wikipedia/commons/9/9f/Pents02.jpg"
   :description
   ""}}
 :the-magician
 {:media
  {:src "https://upload.wikimedia.org/wikipedia/commons/d/de/RWS_Tarot_01_Magician.jpg"
   :description
   ""}}
 :the-high-priestess
 {:media
  {:src "https://upload.wikimedia.org/wikipedia/commons/8/88/RWS_Tarot_02_High_Priestess.jpg"
   :description
   ""}}
 :the-three-of-swords
 {:media
  {:src "https://upload.wikimedia.org/wikipedia/commons/0/02/Swords03.jpg"
   :description
   ""}}
 :the-three-of-wands
 {:media
  {:src "https://upload.wikimedia.org/wikipedia/commons/f/ff/Wands03.jpg"
   :description
   ""}}
 :the-three-of-cups
 {:media
  {:src "https://upload.wikimedia.org/wikipedia/commons/7/7a/Cups03.jpg"
   :description
   ""}}
 :the-three-of-pentacles
 {:media
  {:src "https://upload.wikimedia.org/wikipedia/commons/4/42/Pents03.jpg"
   :description
   ""}}
 :the-empress
 {:media
  {:src "https://upload.wikimedia.org/wikipedia/commons/d/d2/RWS_Tarot_03_Empress.jpg"
   :description
   ""}}
 :the-emperor
 {:media
  {:src "https://upload.wikimedia.org/wikipedia/commons/c/c3/RWS_Tarot_04_Emperor.jpg"
   :description
   ""}}
 :the-four-of-swords
 {:media
  {:src "https://upload.wikimedia.org/wikipedia/commons/b/bf/Swords04.jpg"
   :description
   ""}}
 :the-four-of-wands
 {:media
  {:src "https://upload.wikimedia.org/wikipedia/commons/a/a4/Wands04.jpg"
   :description
   ""}}
 :the-four-of-cups
 {:media
  {:src "https://upload.wikimedia.org/wikipedia/commons/3/35/Cups04.jpg"
   :description
   ""}}
 :the-four-of-pentacles
 {:media
  {:src "https://upload.wikimedia.org/wikipedia/commons/3/35/Pents04.jpg"
   :description
   ""}}
 :the-hierophant
 {:media
  {:src "https://upload.wikimedia.org/wikipedia/commons/8/8d/RWS_Tarot_05_Hierophant.jpg"
   :description
   ""}}
 :the-lovers
 {:media
  {:src "https://upload.wikimedia.org/wikipedia/commons/d/db/RWS_Tarot_06_Lovers.jpg"
   :description
   ""}}
 :the-five-of-swords
 {:media
  {:src "https://upload.wikimedia.org/wikipedia/commons/2/23/Swords05.jpg"
   :description
   ""}}
 :the-five-of-wands
 {:media
  {:src "https://upload.wikimedia.org/wikipedia/commons/9/9d/Wands05.jpg"
   :description
   ""}}
 :the-five-of-cups
 {:media
  {:src "https://upload.wikimedia.org/wikipedia/commons/d/d7/Cups05.jpg"
   :description
   ""}}
 :the-five-of-pentacles
 {:media
  {:src "https://upload.wikimedia.org/wikipedia/commons/9/96/Pents05.jpg"
   :description
   ""}}
 :the-chariot
 {:media
  {:src "https://upload.wikimedia.org/wikipedia/commons/9/9b/RWS_Tarot_07_Chariot.jpg"
   :description
   ""}}
 :the-six-of-swords
 {:media
  {:src "https://upload.wikimedia.org/wikipedia/commons/2/29/Swords06.jpg"
   :description
   ""}}
 :the-six-of-wands
 {:media
  {:src "https://upload.wikimedia.org/wikipedia/commons/3/3b/Wands06.jpg"
   :description
   ""}}
 :the-six-of-cups
 {:media
  {:src "https://upload.wikimedia.org/wikipedia/commons/1/17/Cups06.jpg"
   :description
   ""}}
 :the-six-of-pentacles
 {:media
  {:src "https://upload.wikimedia.org/wikipedia/commons/a/a6/Pents06.jpg"
   :description
   ""}}
 :strength
 {:media
  {:src "https://upload.wikimedia.org/wikipedia/commons/f/f5/RWS_Tarot_08_Strength.jpg"
   :description
   ""}}
 :the-seven-of-swords
 {:media
  {:src "https://upload.wikimedia.org/wikipedia/commons/3/34/Swords07.jpg"
   :description
   ""}}
 :the-seven-of-wands
 {:media
  {:src "https://upload.wikimedia.org/wikipedia/commons/e/e4/Wands07.jpg"
   :description
   ""}}
 :the-seven-of-cups
 {:media
  {:src "https://upload.wikimedia.org/wikipedia/commons/a/ae/Cups07.jpg"
   :description
   ""}}
 :the-seven-of-pentacles
 {:media
  {:src "https://upload.wikimedia.org/wikipedia/commons/6/6a/Pents07.jpg"
   :description
   ""}}
 :the-hermit
 {:media
  {:src "https://upload.wikimedia.org/wikipedia/commons/4/4d/RWS_Tarot_09_Hermit.jpg"
   :description
   ""}}
 :the-wheel-of-fortune
 {:media
  {:src "https://upload.wikimedia.org/wikipedia/commons/3/3c/RWS_Tarot_10_Wheel_of_Fortune.jpg"
   :description
   ""}}
 :the-eight-of-swords
 {:media
  {:src "https://upload.wikimedia.org/wikipedia/commons/a/a7/Swords08.jpg"
   :description
   ""}}
 :the-eight-of-wands
 {:media
  {:src "https://upload.wikimedia.org/wikipedia/commons/6/6b/Wands08.jpg"
   :description
   ""}}
 :the-eight-of-cups
 {:media
  {:src "https://upload.wikimedia.org/wikipedia/commons/6/60/Cups08.jpg"
   :description
   ""}}
 :the-eight-of-pentacles
 {:media
  {:src "https://upload.wikimedia.org/wikipedia/commons/4/49/Pents08.jpg"
   :description
   ""}}
 :justice
 {:media
  {:src "https://upload.wikimedia.org/wikipedia/commons/e/e0/RWS_Tarot_11_Justice.jpg"
   :description
   ""}}
 :the-hanged-man
 {:media
  {:src "https://upload.wikimedia.org/wikipedia/commons/2/2b/RWS_Tarot_12_Hanged_Man.jpg"
   :description
   ""}}
 :the-nine-of-swords
 {:media
  {:src "https://upload.wikimedia.org/wikipedia/commons/2/2f/Swords09.jpg"
   :description
   ""}}
 :the-nine-of-wands
 {:media
  {:src "https://upload.wikimedia.org/wikipedia/commons/e/e7/Wands09.jpg"
   :description
   ""}}
 :the-nine-of-cups
 {:media
  {:src "https://upload.wikimedia.org/wikipedia/commons/2/24/Cups09.jpg"
   :description
   ""}}
 :the-nine-of-pentacles
 {:media
  {:src "https://upload.wikimedia.org/wikipedia/commons/f/f0/Pents09.jpg"
   :description
   ""}}
 :death
 {:media
  {:src "https://upload.wikimedia.org/wikipedia/commons/d/d7/RWS_Tarot_13_Death.jpg"
   :description
   ""}}
 :temperance
 {:media
  {:src "https://upload.wikimedia.org/wikipedia/commons/f/f8/RWS_Tarot_14_Temperance.jpg"
   :description
   ""}}
 :the-ten-of-swords
 {:media
  {:src "https://upload.wikimedia.org/wikipedia/commons/d/d4/Swords10.jpg"
   :description
   ""}}
 :the-ten-of-wands
 {:media
  {:src "https://upload.wikimedia.org/wikipedia/commons/0/0b/Wands10.jpg"
   :description
   ""}}
 :the-ten-of-cups
 {:media
  {:src "https://upload.wikimedia.org/wikipedia/commons/8/84/Cups10.jpg"
   :description
   ""}}
 :the-ten-of-pentacles
 {:media
  {:src "https://upload.wikimedia.org/wikipedia/commons/4/42/Pents10.jpg"
   :description
   ""}}
 :the-devil
 {:media
  {:src "https://upload.wikimedia.org/wikipedia/commons/5/55/RWS_Tarot_15_Devil.jpg"
   :description
   ""}}
 :the-tower
 {:media
  {:src "https://upload.wikimedia.org/wikipedia/commons/5/53/RWS_Tarot_16_Tower.jpg"
   :description
   ""}}
 :the-page-of-swords
 {:media
  {:src "https://upload.wikimedia.org/wikipedia/commons/4/4c/Swords11.jpg"
   :description
   ""}}
 :the-page-of-wands
 {:media
  {:src "https://upload.wikimedia.org/wikipedia/commons/6/6a/Wands11.jpg"
   :description
   ""}}
 :the-page-of-cups
 {:media
  {:src "https://upload.wikimedia.org/wikipedia/commons/a/ad/Cups11.jpg"
   :description
   ""}}
 :the-page-of-pentacles
 {:media
  {:src "https://upload.wikimedia.org/wikipedia/commons/e/ec/Pents11.jpg"
   :description
   ""}}
 :the-star
 {:media
  {:src "https://upload.wikimedia.org/wikipedia/commons/d/db/RWS_Tarot_17_Star.jpg"
   :description
   ""}}
 :the-knight-of-swords
 {:media
  {:src "https://upload.wikimedia.org/wikipedia/commons/b/b0/Swords12.jpg"
   :description
   ""}}
 :the-knight-of-wands
 {:media
  {:src "https://upload.wikimedia.org/wikipedia/commons/1/16/Wands12.jpg"
   :description
   ""}}
 :the-knight-of-cups
 {:media
  {:src "https://upload.wikimedia.org/wikipedia/commons/f/fa/Cups12.jpg"
   :description
   ""}}
 :the-knight-of-pentacles
 {:media
  {:src "https://upload.wikimedia.org/wikipedia/commons/d/d5/Pents12.jpg"
   :description
   ""}}
 :the-moon
 {:media
  {:src "https://upload.wikimedia.org/wikipedia/commons/7/7f/RWS_Tarot_18_Moon.jpg"
   :description
   ""}}
 :the-queen-of-swords
 {:media
  {:src "https://upload.wikimedia.org/wikipedia/commons/d/d4/Swords13.jpg"
   :description
   ""}}
 :the-queen-of-wands
 {:media
  {:src "https://upload.wikimedia.org/wikipedia/commons/0/0d/Wands13.jpg"
   :description
   ""}}
 :the-queen-of-cups
 {:media
  {:src "https://upload.wikimedia.org/wikipedia/commons/6/62/Cups13.jpg"
   :description
   ""}}
 :the-queen-of-pentacles
 {:media
  {:src "https://upload.wikimedia.org/wikipedia/commons/8/88/Pents13.jpg"
   :description
   ""}}
 :the-sun
 {:media
  {:src "https://upload.wikimedia.org/wikipedia/commons/1/17/RWS_Tarot_19_Sun.jpg"
   :description
   ""}}
 :the-king-of-swords
 {:media
  {:src "https://upload.wikimedia.org/wikipedia/commons/3/33/Swords14.jpg"
   :description
   ""}}
 :the-king-of-wands
 {:media
  {:src "https://upload.wikimedia.org/wikipedia/commons/c/ce/Wands14.jpg"
   :description
   ""}}
 :the-king-of-cups
 {:media
  {:src "https://upload.wikimedia.org/wikipedia/commons/0/04/Cups14.jpg"
   :description
   ""}}
 :the-king-of-pentacles
 {:media
  {:src "https://upload.wikimedia.org/wikipedia/commons/1/1c/Pents14.jpg"
   :description
   ""}}
 :judgement
 {:media
  {:src "https://upload.wikimedia.org/wikipedia/commons/d/dd/RWS_Tarot_20_Judgement.jpg"
   :description
   ""}}
 :the-ace-of-swords
 {:media
  {:src "https://upload.wikimedia.org/wikipedia/commons/1/1a/Swords01.jpg"
   :description
   ""}}
 :the-ace-of-wands
 {:media
  {:src "https://upload.wikimedia.org/wikipedia/commons/1/11/Wands01.jpg"
   :description
   ""}}
 :the-ace-of-cups
 {:media
  {:src "https://upload.wikimedia.org/wikipedia/commons/3/36/Cups01.jpg"
   :description
   ""}}
 :the-ace-of-pentacles
 {:media
  {:src "https://upload.wikimedia.org/wikipedia/commons/f/fd/Pents01.jpg"
   :description
   ""}}
 :the-world
 {:media
  {:src "https://upload.wikimedia.org/wikipedia/commons/f/ff/RWS_Tarot_21_World.jpg"
   :description
   ""}}}
